/* CSS declarations go here */
.btn {
  color: white;
}

.login-link-text {
  color: white;
  text-decoration: none;
}

.accounts-dialog input[type=text],
#login-buttons input[type=email],
.accounts-dialog input[type=email],
#login-buttons input[type=password],
.accounts-dialog input[type=password] {
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 3px;
  line-height: 1;
  width: inherit;
}
.first-panel {
  border-bottom: 1px solid #e6e6e6;
}
.navbar-header {
  height: initial;
}
.jumbotron {
  height: 10em;
}
#login-buttons a {
  text-decoration: none;
}
.chat-form {
  text-align: center;
}
.chat-form .btn {
  width: 53%;
  margin: auto;
}
#chat_message_field {
  width: 50%;
  margin: auto;
}
